# Apple env vars used for code signing locally. Will be injected by CI on automated builds
APPLE_ID=
APPLE_ID_PASSWORD=

# Apple env vars used for MAS build locally
APPLE_TEAM_ID=

# Error reporting
VUE_APP_SENTRY_DSN=
