@import '~vue-cal/dist/vuecal.css';

:root {
    --event-background-color: var(--default-event-color);
    --event-border-color: adjust-color(--event-background-color, $alpha: -0.3);
}

.vuecal {
    $block: &;

    /*
    |--------------------------------------------------------------------------
    | Title bar & controls
    |--------------------------------------------------------------------------
    */

    /* Make title bar draggable */
    &__title-bar {
        z-index: 9999999;
        -webkit-app-region: drag;

        /* But exclude children that aren't the title (hacky workaround) */
        & > :not(#{$block}__flex #{$block}__title) {
            -webkit-app-region: no-drag;
        }


        /* Order title bar controls */
        & .vuecal__title {
            order: 1;
            font-size: 0.7em;
            margin: 0 4px;

            justify-content: flex-end;
        }

        & .vuecal__arrow {
            @apply text-gray-600
        }

        & .vuecal__arrow--prev { order: 2 }
        & .vuecal__today-btn { order: 3 }
        & .vuecal__arrow--next { order: 4 }
    }


    /*
    |--------------------------------------------------------------------------
    |  Style the calendar itself
    |--------------------------------------------------------------------------
    */
    &__header {
        position: fixed;
        width: 100%;
        z-index: 9;

        background: rgba(255, 255, 255, 0.2);
        -webkit-backdrop-filter: blur(8px);
        backdrop-filter: blur(8px);
    }

    &__body {
        margin-top: 78px;
    }

    &__cell &__event * {
        user-select: none;
    }

    &__cell--selected {
        background-color: rgb(197, 236, 255, 0.2);
    }

    /*
    |--------------------------------------------------------------------------
    |  Style the events
    |--------------------------------------------------------------------------
    */
    &__event {

        $element: &;

        color: #666666de;
        text-align: left;

        padding: 0 0.4em 0 0.6em;
        border-top: 2px solid #fff;
        border-radius: 0 6px 6px 0;

        // Event background color
        background-color: var(--event-background-color);
        border-bottom: 0.5px solid var(--event-border-color);

        transition: transform 0.08s;

        &-title {
            font-weight: bold;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        &-resize-handle {
            height: .5em;
            background-color: hsla(0deg, 0%, 100%, 0.6);
        }

        &-task-info-popover {
            opacity: 0;

            transition-property: opacity;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transition-duration: 150ms;
        }

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 6px;
            height: 100%;
            background-color: var(--event-background-color);
        }

        &:hover {
            #{$element}-task-info-popover {
                opacity: 1;
            }
        }

        &--focus {
            box-shadow: 2px 2px 7px rgb(0 0 0 / 16%);
            transform: scale(1.025);
        }

        &.not-editable {
            // Override the background color for this specific event, set dynamically?
            // Non-editable events are red? How about a faded version of the event color? Like it is disabled?
            background-color: rgba(240, 68, 29, 0.6);
            color: white;

            ::before {
                background-color: rgba(240, 68, 29, 1);
            }
        }
    }
}
